In [222]:
import numpy as np
import pandas as pd
import plotly
from plotly.graph_objs import Figure, Histogram, Layout, Scatter, Bar
import scipy as stats
plotly.offline.init_notebook_mode(connected=True)

In [117]:
# Correlation, groupby (location, cuisine, price), bar charts,

In [118]:
opentable = pd.read_csv('opentable_data.csv', index_col = 0) #import
opentable['num_reviews'] = opentable['num_reviews'].replace(np.nan, '0') #replace 'naN' with 0 reviews
opentable['recommendation_percentage'] = opentable['recommendation_percentage'].apply(lambda x: x.replace('%','')).astype(int) #make recommendation percentage an integer for analysis
opentable['num_reviews'] = opentable['num_reviews'].apply(lambda x: int(x)) # make number of reviews an integer (cleaning)
opentable = opentable.drop_duplicates() # delete duplicate rows

In [119]:
location = opentable.groupby('location') #group by locations

In [120]:
location.mean().sort_values('food_rating', ascending = False) #different analysis here (mean, var, count)

,food_rating,service_rating,ambience_rating,value_rating,num_reviews,recommendation_percentage
location,,,,,,
Turtle Bay,4.550000,4.600000,4.300000,4.350000,107.000000,100.000000
Little Italy,4.491667,4.400000,4.350000,4.341667,356.083333,92.750000
NoLita,4.487500,4.412500,4.487500,4.187500,606.625000,90.625000
West Village,4.479747,4.402532,4.420253,4.168354,584.050633,88.949367
SoHo,4.470175,4.364912,4.412281,4.156140,822.701754,86.789474
East Village,4.462821,4.369231,4.337179,4.214103,419.051282,87.756410
TriBeCa - Downtown,4.456522,4.406522,4.434783,4.100000,873.217391,88.500000
Lower East Side,4.456098,4.326829,4.400000,4.190244,597.317073,88.878049
Greenwich Village,4.450000,4.389474,4.413158,4.186842,1269.736842,89.394737
Gramercy / Flatiron,4.449206,4.353968,4.371429,4.090476,1109.222222,88.206349
Upper East Side,4.442537,4.382090,4.306716,4.118657,633.731343,89.791045
Upper West Side,4.429070,4.374419,4.282558,4.195349,983.767442,91.127907
Midtown East,4.425000,4.408125,4.321250,4.093750,1075.237500,88.525000
NoHo,4.420000,4.346667,4.493333,4.093333,854.200000,89.200000
Financial District,4.402439,4.370732,4.360976,4.109756,476.585366,88.634146
Kips Bay,4.400000,4.375000,4.275000,4.325000,85.750000,93.000000
Murray Hill,4.392308,4.356410,4.241026,4.189744,464.384615,90.153846
Harlem,4.364706,4.282353,4.358824,4.200000,397.941176,86.705882
Rockefeller Center Midtown,4.361538,4.361538,4.400000,4.000000,1623.769231,88.384615
Hell's Kitchen,4.352174,4.350000,4.200000,4.123913,677.630435,89.304348
NoMad,4.350000,4.315000,4.375000,4.030000,525.150000,88.200000
Meatpacking District,4.343478,4.239130,4.391304,3.947826,2055.608696,84.391304
Midtown West,4.342771,4.327711,4.272892,4.048193,1332.114458,87.734940
Yorkville,4.333333,4.266667,4.200000,4.200000,77.000000,93.666667
Union Square,4.326087,4.226087,4.217391,4.056522,1356.826087,87.608696
Chelsea,4.322222,4.269444,4.234722,4.070833,582.847222,87.097222
South Street Seaport,4.300000,4.320000,4.420000,4.100000,226.000000,87.800000
Lincoln Square,4.300000,4.300000,4.163636,3.936364,3394.545455,88.272727
Battery Park,4.280000,4.260000,4.200000,3.950000,368.900000,85.300000
Columbus Circle,4.271429,4.300000,4.271429,3.885714,1172.285714,80.428571
Theater District / Times Square,4.246491,4.250000,4.167544,3.974561,2157.701754,85.850877
Chinatown,4.233333,4.166667,4.100000,3.800000,23.666667,73.666667
Garment District / Flower District,3.900000,4.125000,4.050000,4.025000,50.250000,81.500000
Hudson Yards,3.800000,3.800000,3.800000,3.600000,38.000000,75.000000

In [121]:
cuisine = opentable.groupby('cuisine') #group by cuisine

In [122]:
cuisine.mean().sort_values('food_rating', ascending = False) #different analysis here (mean, var, count)

,food_rating,service_rating,ambience_rating,value_rating,num_reviews,recommendation_percentage
cuisine,,,,,,
Izakaya,4.800000,4.800000,4.700000,4.400000,310.000000,95.000000
Rotisserie Chicken,4.700000,4.500000,4.300000,4.400000,60.000000,100.000000
Fondue,4.700000,4.400000,4.300000,4.100000,531.000000,93.000000
Provencal,4.700000,4.800000,4.600000,4.300000,1342.000000,96.000000
Southeast Asian,4.700000,4.400000,4.300000,4.400000,1202.000000,94.000000
Organic,4.700000,4.600000,4.300000,4.300000,2200.500000,96.000000
Contemporary French / American,4.666667,4.633333,4.600000,4.366667,732.666667,92.333333
Vegetarian / Vegan,4.650000,4.700000,4.650000,4.450000,942.500000,96.000000
"Global, International",4.600000,4.600000,4.350000,4.250000,108.000000,94.500000
Lebanese,4.600000,4.500000,4.450000,4.300000,3459.500000,91.000000
Eastern European,4.600000,4.500000,4.600000,4.500000,355.000000,84.000000
Georgian,4.600000,4.250000,4.250000,4.250000,231.000000,93.500000
Portuguese,4.600000,4.700000,4.500000,4.200000,2126.000000,91.000000
Scandinavian,4.600000,4.550000,4.450000,4.000000,1002.000000,100.000000
Caribbean,4.600000,4.400000,4.500000,4.300000,914.000000,95.000000
Sports Bar,4.600000,4.000000,3.800000,3.700000,4.000000,100.000000
Tex-Mex,4.600000,4.400000,4.300000,4.300000,538.000000,96.000000
Vegetarian,4.600000,4.500000,4.500000,4.200000,1571.000000,92.000000
Austrian,4.600000,4.500000,4.500000,4.150000,870.000000,96.000000
Basque,4.600000,4.500000,4.300000,4.150000,533.000000,93.500000
Vegan,4.580000,4.500000,4.520000,4.220000,283.200000,94.000000
Brazilian,4.580000,4.560000,4.320000,4.320000,341.000000,93.800000
Argentinean,4.575000,4.475000,4.425000,4.275000,323.500000,92.000000
Russian,4.560000,4.400000,4.400000,4.300000,302.600000,90.000000
Swiss,4.550000,4.450000,4.500000,4.300000,250.000000,93.500000
Brazilian Steakhouse,4.550000,4.450000,4.400000,4.150000,2218.500000,90.000000
Japanese Speciality,4.550000,4.450000,4.050000,4.150000,7.500000,100.000000
Sushi,4.528571,4.433333,4.147619,4.176190,351.619048,87.333333
Farm-to-table,4.520000,4.440000,4.380000,4.160000,893.200000,88.000000
Contemporary Mexican,4.520000,4.420000,4.420000,4.000000,990.200000,87.000000
...,...,...,...,...,...,...
Barbecue,4.266667,4.100000,3.983333,4.050000,1718.000000,86.833333
Mexican,4.264583,4.202083,4.195833,3.985417,937.395833,84.145833
American,4.261450,4.261832,4.279389,3.999237,784.980916,86.671756
Burgers,4.250000,4.200000,4.000000,4.025000,717.500000,90.250000
Pizza Bar,4.200000,3.650000,4.000000,3.900000,36.000000,75.500000
Pan-Asian,4.200000,4.200000,4.200000,3.800000,1473.500000,84.000000
Hawaiian,4.200000,4.300000,4.600000,3.800000,30.000000,78.000000
Wine Bar,4.200000,4.266667,4.233333,4.133333,838.333333,87.666667
Egyptian,4.200000,3.900000,4.100000,3.600000,453.000000,69.000000
Irish,4.190909,4.236364,4.163636,4.118182,199.545455,87.181818
Gastro Pub,4.180000,4.160000,4.250000,4.000000,164.200000,88.400000
Bistro,4.175000,4.225000,4.475000,4.000000,640.750000,90.000000
Creole / Cajun / Southern,4.150000,3.850000,4.050000,3.900000,584.500000,82.000000
Mexican / Southwestern,4.125000,4.100000,4.025000,4.000000,228.250000,71.750000
British,4.125000,4.275000,4.350000,3.925000,192.250000,83.250000
Afghan,4.100000,4.200000,3.800000,4.300000,81.000000,89.000000
Cocktail Bar,4.100000,4.400000,4.300000,4.200000,12.000000,100.000000
Deli,4.100000,4.200000,3.700000,4.000000,67.000000,91.000000
Dim Sum,4.100000,3.900000,3.800000,3.500000,1207.000000,78.000000
Middle Eastern,4.050000,4.200000,4.000000,4.050000,96.500000,81.500000
Continental,4.050000,4.350000,4.400000,3.600000,2357.000000,83.500000
International,4.020000,4.060000,4.200000,3.940000,108.800000,82.000000
Southwest,4.000000,4.000000,4.100000,3.950000,1043.000000,83.500000
Pub,4.000000,4.200000,4.100000,3.800000,7.000000,67.000000
Moroccan,4.000000,3.940000,4.040000,3.660000,165.400000,66.400000
German,4.000000,3.950000,3.800000,4.100000,203.000000,80.500000
Bar / Lounge / Bottle Service,3.971429,3.957143,4.114286,3.785714,99.285714,79.857143
Dinner Cruise,3.800000,4.000000,4.500000,4.000000,78.000000,87.000000
Latin / Spanish,3.600000,3.700000,3.700000,3.400000,56.000000,69.000000
European,3.300000,3.000000,3.800000,3.100000,59.000000,50.000000

In [123]:
price = opentable.groupby('price')

In [124]:
price.mean().sort_values('food_rating', ascending = False)

,food_rating,service_rating,ambience_rating,value_rating,num_reviews,recommendation_percentage
price,,,,,,
$50 and over,4.552632,4.544211,4.513684,4.102105,1665.684211,88.468421
$31 to $50,4.427787,4.378388,4.371184,4.085249,1184.231561,88.656947
$30 and under,4.321257,4.264222,4.201647,4.122455,615.785928,87.911677

In [125]:
has_chef_name = opentable['chef'].map(lambda x: (True if type(x)!=float else False))

In [126]:
opentable['has_chef_name'] = has_chef_name

In [127]:
chef = opentable.groupby('has_chef_name')
chef.mean().sort_values('food_rating', ascending=False)

,food_rating,service_rating,ambience_rating,value_rating,num_reviews,recommendation_percentage
has_chef_name,,,,,,
True,4.428935,4.390741,4.356481,4.106134,1225.296296,88.606481
False,4.343847,4.282322,4.243847,4.102600,623.181976,87.807626

In [195]:
opentable = opentable.drop('total',axis=1)

In [198]:
noise = opentable.groupby('noise_level')[service_rating','ambience_rating'].mean().reset_index()
noise

  noise_level  service_rating  ambience_rating
0   Energetic        3.750000         3.950000
1    Moderate        4.326410         4.309316
2       Quiet        4.453208         4.328679

In [221]:
service = Bar(x=noise['noise_level'], y=noise['service_rating'], name = 'service rating', width = 0.25)
ambience = Bar(x=noise['noise_level'], y=noise['ambience_rating'], name = "ambience rating", width = 0.25 )

data = [service, ambience]

layout_noise = Layout(title="Noise Level VS. Rating")

fig_noise = Figure(data=data, layout=layout_noise)

plotly.offline.iplot(fig_noise,show_link = False)

In [158]:
# dining_style = opentable.groupby('dining_style').agg({'frlog':'mean'}).sort_values('frlog', ascending = False).reset_index()

In [164]:
# data_style = [Bar(x=dining_style['dining_style'], y=dining_style['frlog'], text=dining_style['dining_style'])]
# layout_style = Layout(title="Dining Style VS. Food Rating")

# fig_style = Figure(data=data_style, layout=layout_style)

# plotly.offline.iplot(fig_style,show_link = False)

In [231]:
opentable.corr(method = 'pearson')['recommendation_percentage'].sort_values(ascending=False)

recommendation_percentage    1.000000
value_rating                 0.629163
food_rating                  0.596726
service_rating               0.581306
ambience_rating              0.443179
num_reviews                  0.072978
has_chef_name                0.038440
Name: recommendation_percentage, dtype: float64